<% provide(:title, "Sign in") %>

<br />
<div class="row">
	 <div class="small-6 small-centered columns">
		<h1>Usuarios registrados</h1>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<% flash.each do |name, msg| -%>
				<div class="alert-box alert">
					<%= content_tag :div, msg, class: name %>
				</div>
			<% end %>
		</div>
	</div>

<fieldset>
	<div class="row">
	  	<div class="small-6 small-centered columns ">
		    <%= simple_form_for(:session, url: sessions_path) do |f| %>

		      <%= f.input :email %>
		      <%= f.input :password %>

		      <%= f.submit "Ingresar", class: "btn btn-large btn-primary" %>
		    <% end %>
			</div>
	</div>
</fieldset>

</div>