
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <%= f.input :email %>
    </div>
    <div class="row">
      <%= f.input :password %>
    </div>
    <div class="row">
      <%= f.input :password_confirmation %>
    </div>
    <div class="row">
      <%= f.input :role_id, 
      :collection => [[1, "Administrador"], [2,"Editor"]],
      :label_method => :last, :value_method => :first,
      :include_blank => "Elegir rol" %>
    </div>
  </div>
  <div class="row">
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
</div>