<div class="row">
  <h1>Usuarios registrados</h1>
<div>

<div class="row">
  <div class="small-6 small-centered columns">
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Rol</th>

          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>

            <td><%= user.email %></td>

            <td><%= user.get_nombre_rol %></td>
            <td><%= link_to '<i class="foundicon-edit"></i>'.html_safe, edit_user_path(user) %></td>
            <td><%= link_to '<i class="foundicon-remove"></i>'.html_safe, user, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <%= button_to '+ Agregar usuario', new_user_path, :method => :get, :class => "small button" %>
</div>
