<div class="row full-width">
<div class="large-4 columns no_padding">
<br />
<div class="row collapse">
<div class="small-10 columns">
  <%= form_tag search_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], placeholder: "Buscar proyectos" %>
</div>
    <div class="small-2 columns">
      <%=submit_tag "Go", :class => "button postfix" %>
    </div>
  <% end %>
  <% if @mapped %>
    <%= link_to "Ver todos", :root %>
  <% end %>
</div>
<dl class="accordion" data-accordion>
  
  <% @projects.each do |m| %>
  <dd>
    <a href="#panel1"><%= m.title %></a>
    <div id="panel1" class="content">
        <% m.study_sites.each do |s| %>
          <p><%= link_to s.location, "#", :class=>"locationLink", :id => s.id %></p>
        <% end %>
    </div>
  </dd>
  <% end %>

</dl>

</div>


<div class="large-8 columns no_padding">

  <div class="map_container_index">
    
    <%= gmaps(
      "map_options" => { :container_class => "map_container_index" },
      "markers" => 
      {"data" => @json, 
        "options" => 
        {"do_clustering" => true, 
        "randomize" => true}
      }) %>

  </div>


  
</div>

</div>

<% content_for :scripts do %>

<script type="text/javascript" charset="utf-8">

  Gmaps.map.callback = function() {
    Gmaps.map.map.setOptions({
      zoomControl: false,
      streetViewControl: false,
      panControl: false
    });

    $(".locationLink").on("click", function(e){
      var marker_id = $(this).attr("id");
      var actual_id;
      //Obtener id real del marker a partir del atributo json agregado en el controlador
      //Fuente http://stackoverflow.com/questions/15051368/gmaps4rails-selecting-marker-by-id
      for(var i = 0; i < Gmaps.map.markers.length; i++)
      {
        if(Gmaps.map.markers[i].id == marker_id)
        {
            actual_id = i;
            break;
        }
      }
      google.maps.event.trigger(Gmaps.map.markers[actual_id].serviceObject, 'click');
      e.preventDefault();
    });

  };

</script>

<% end %>
