<%= stylesheet_link_tag "gmaps4rails" %>

<%= simple_form_for(@project) do |f| %>

  <% if @project.errors.any? %>
      <div class="alert-box alert">
        Existen errores en el formulario
        <a href="#" class="close">&times;</a>
      </div>
  <% end %>

  
  <div class="row ">
    <div class="small-12 columns">
      <%= f.input :title, :placeholder=>"Título que identifique el proyecto de investigación" %>
    </div>
  </div>


  <div class="row">
    <div class="large-6 columns">

      <h2> Investigador responsable </h2>


      <%= f.simple_fields_for :researcher do |r| %>
       <div class="row">
        <div class="small-12 columns">
          <%= r.input :id, 
          collection: @researchers,
          selected: @project.researcher, 
          value_method: :id, 
          label_method: :name,
          label: "Nombre investigador" %>
        </div>
      </div>
      <% end %>

  </div>

  <div class="large-6 columns">

      <h2> Otros investigadores </h2>

      <%= f.simple_fields_for :researchers do |r| %>
      <div class="nested-fields">
        <div class="row">
          <div class="small-4 columns">
            <%= r.input :id, 
            collection: @researchers,
            value_method: :id, 
            label_method: :name,
            label: "Nombre investigador" %>
          </div>
        </div>
      </div>
      
      <div class="small-12 columns">
        <%= link_to_remove_association "Eliminar investigador", r %>
      </div>
      <% end %>

                <div id="links" class="large-6 columns">
          <%= link_to_add_association 'Agregar investigador', f, :researchers %>
      </div>

  </div>
  </div>

  <div class="row">
    <!-- Agregar otros INVESTIGADORES opcionalmente -->

    <div class="large-6 columns">
      <%= link_to 'Ingresar nuevo investigador', "" , "data-reveal-id" => "myModal" %>
    </div>

  </div>
  
  <div class="row">
    <div class="large-12 columns">
    <h2> Detalles del proyecto </h2>
      <%= f.input :summary, :placeholder=>"Breve descripción del proyecto" %>
    </div>
  </div>

<div class="row">
    <div class="large-6 columns">
      <%= f.input :methodology, :placeholder=>"Descripción de la metodología usada en el proyecto. Incluir enfoque metodologíco e instrumentos." %>
    </div>

    <div class="large-6 columns">
      <%= f.input :publication, :placeholder => "Resultados y publicaciones que se han producido en el proyecto (articulos de revistas, libros, presentaciones en congresos, otros)." %>
    </div>
  </div>

  <div class="row">
      <div class="large-6 columns">
        <%= f.input :start_date, :start_year => Date.today.year - 90 %>
      </div>

      <div class="large-6 columns">
        <%= f.input :end_date, :start_year => Date.today.year - 90 %>
    </div>
  </div>

  <div class="row study_sites">
    <div class="large-12 columns">
      <h2> Sitio de Estudio </h2>
    </div>

  <div class="map">
    <div class="large-12 columns">
    <%= gmaps(:markers => { :data => @json, :options => {:draggable => true} },
          :map_options => { :auto_zoom => false, :zoom => 7}) %>
    </div>
  </div>

  <!-- indice para unir textbos con pines -->
  <% marker = 0 %>
  <%= f.fields_for :study_sites do |r| %>
  <div class="row">

    <div class="row">
      <div class="large-6 columns">
        <%= r.input :name, :placeholder => "Descripción del lugar, ej: 'Museo'." %>
      </div>

      <div class="large-6 columns">
        <%= r.input :location, :placeholder => "Nombre de la localidad o zona administrativa.",  
        input_html: {class: 'location' + marker.to_s}  %>
      </div>
    </div>

    <% marker = marker+1 %>

  <% end %>

  </div>

  <div class="row">

      <!-- Agregar otros SITIOS DE INVESTIGACION opcionalmente -->
  <div id="links" class="large-12 columns">
        <%= link_to_add_association 'Agregar sitio de estudio', f, :study_sites %>
  </div>
  </div>

  </div>

<div class="row">
  <div class="small-6 columns">
      <%= f.button :submit, "Aceptar", :class=>"button radius" %>
  </div>
  <div class="small-6 columns">
      <%= link_to 'Volver al mapa', :root, :class => "button secondary" %>
  </div>

</div>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">

Gmaps.map.HandleDragend = function(pos, elementName) {

  var geocoder = new google.maps.Geocoder();
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
       $(elementName).val(responses[0].formatted_address);
    } else {
    alert('No se puede determinar dirección en ese punto');
    }
  });
};

Gmaps.map.callback = function() {
  //Ocurre solo para el primer pin
  for(var i = 0; i < Gmaps.map.markers.length; i++)
  {
    bindPin(i);
    bindPinToTextbox(i);
  }
};

function bindPin(i)
{
  google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'dragend', function() { Gmaps.map.HandleDragend(this.getPosition(), ".location"+i) });  
}

// https://developers.google.com/maps/documentation/javascript/geocoding

  var geocoder;
  var marker;

function bindPinToTextbox(i)
{
  $('.location' + i).bind('blur', function() {

      var address = $('.location'+i).val();
      geocoder = new google.maps.Geocoder();

      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          
          Gmaps.map.markers[i].serviceObject.setPosition(results[0].geometry.location)
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
    })
  });
}

      
</script>
<% end %>

<% end %>


<div id="myModal" class="reveal-modal small" data-reveal>
  <h1> Agregar investigador </h1>
  <%= render "researchers/form", :@researcher => Researcher.new %>
  <a class="close-reveal-modal">&#215;</a>
</div>


