<%= stylesheet_link_tag "gmaps4rails" %>

<%= simple_form_for(@project) do |f| %>

  <% if @project.errors.any? %>
      <div class="alert-box alert">
        Existen errores en el formulario
        <a href="#" class="close">&times;</a>
      </div>
  <% end %>

  <div class="row ">
    <div class="small-12 columns">
      <%= f.input :title, :placeholder=>"Título que identifique el proyecto de investigación" %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">

      <h2> Investigador responsable </h2>

        <% first = true %>
        <%= f.fields_for :researchers do |f| %>

             <div class="row">
              <div class="small-6 columns">
                <%= f.input :name, :placeholder => "Nombre y Apellido del investigador" %>
              </div>

              <div class="small-6 columns">
                <%= f.input :email, :placeholder => "Correo electrónico del investigador" %>
              </div>
            </div>

            <% if first %>
              <h3> Otros investigadores </h3>
              <% first = false %>
            <% end %>
        <% end %>

      <!-- Agregar otros INVESTIGADORES opcionalmente -->          

      <div id="links">
        <%= link_to_add_association 'Agregar investigador asistente', f, :researchers, :class=>"tiny secondary button" %>
      </div>

    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <%= f.input :summary, :placeholder=>"Breve descripción del proyecto" %>
    </div>
  </div>

<div class="row">
    <div class="large-12 columns">
      <%= f.input :methodology, :placeholder=>"Descripción de la metodología usada en el proyecto. Incluir enfoque metodologíco e instrumentos." %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.input :publication, :placeholder => "Resultados y publicaciones que se han producido en el proyecto (articulos de revistas, libros, presentaciones en congresos, otros)." %>
    </div>
  </div>

  <div class="row">
      <div class="large-6 columns">
        <%= f.input :start_date,{:html => "width:auto;"} %>
      </div>

      <div class="large-6 columns">
        <%= f.input :end_date %>
    </div>
  </div>

  <div class="row study_sites">
    <div class="large-12 columns">
      <h2> Sitio de Estudio </h2>


  <%= f.fields_for :study_sites do |r| %>
  <div class="row">

    <div class="row">
      <div class="large-4 columns">
        <%= r.input :name, :placeholder => "Descripción del lugar, ej: 'Museo'." %>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <%= r.input :location, :placeholder => "Nombre de la localidad o zona administrativa.",  
        input_html: {class: 'location0'}  %>
      </div>
    </div>


  <div class="map">
    <div class="large-6 columns">
    <%= gmaps(:markers => { :data => @json, :options => {:draggable => true} },
          :map_options => { :auto_zoom => false, :zoom => 7}) %>
    </div>
  </div>

  </div>

  <% end %>

  <!-- Agregar otros SITIOS DE INVESTIGACION opcionalmente -->
    <div id="links">
          <%= link_to_add_association 'Agregar sitio de estudio', f, :study_sites, :class=>"tiny secondary button add_sitio_estudio" %>
    </div>


    </div>
  </div>

<div class="row">
  <div class="small-9 columns">
      <%= f.button :submit, "Aceptar", :class=>"button radius" %>
  </div>
</div>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">

Gmaps.map.HandleDragend = function(pos, elementName) {

  var geocoder = new google.maps.Geocoder();
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
       $(elementName).val(responses[0].formatted_address);
    } else {
    alert('No se puede determinar dirección en ese punto');
    }
  });
};

Gmaps.map.callback = function() {
  //Ocurre solo para el primer pin
  bindPin(0);
  bindPinToTextbox(0);
};

function bindPin(i)
{
  google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'dragend', function() { Gmaps.map.HandleDragend(this.getPosition(), ".location"+i) });  
}

// https://developers.google.com/maps/documentation/javascript/geocoding

  var geocoder;
  var marker;

function bindPinToTextbox(i)
{
  $('.location' + i).bind('blur', function() {

      var address = $('.location'+i).val();
      geocoder = new google.maps.Geocoder();

      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          
          Gmaps.map.markers[i].serviceObject.setPosition(results[0].geometry.location)
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
    })
  });
}

      
</script>
<% end %>


<% end %>



