<div class="row">
<h1>Investigadores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Website</th>
      <th></th>
      <th></th>
      <!-- <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% @researchers.each do |researcher| %>
      <tr>
        <td><%= researcher.name %></td>
        <td><%= researcher.email %></td>
        <td><%= researcher.website %></td>
        <td><%= link_to 'Ver', researcher %></td>
        <td><%= link_to 'Editar', edit_researcher_path(researcher) %></td>
        <!-- <td><%= link_to 'Eliminar', researcher, method: :delete, data: { confirm: '¿Está seguro?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to '+ Agregar investigador', new_researcher_path, :method => :get, :class => "small button" %>
</div>